@font-face {
  font-family: "flaticon_xyz";
  src: url("flaticon_xyzad72.woff2?066f6f5cc727b7b5c492cc9e9a5ebb14") format("woff2"), url("flaticon_xyzad72.woff?066f6f5cc727b7b5c492cc9e9a5ebb14") format("woff"), url("flaticon_xyzad72.eot?066f6f5cc727b7b5c492cc9e9a5ebb14#iefix") format("embedded-opentype"), url("flaticon_xyzad72.ttf?066f6f5cc727b7b5c492cc9e9a5ebb14") format("truetype"), url("flaticon_xyzad72.svg?066f6f5cc727b7b5c492cc9e9a5ebb14#flaticon_xyz") format("svg");
}
i[class^=flaticon-]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon_xyz !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-basket:before {
  content: "\f101";
}

.flaticon-shopping-basket:before {
  content: "\f102";
}

.flaticon-cart:before {
  content: "\f103";
}

.flaticon-cart-1:before {
  content: "\f104";
}

.flaticon-shop-cart:before {
  content: "\f105";
}

.flaticon-search:before {
  content: "\f106";
}

.flaticon-villa:before {
  content: "\f107";
}

.flaticon-buildings:before {
  content: "\f108";
}

.flaticon-villa-1:before {
  content: "\f109";
}

.flaticon-skyline:before {
  content: "\f10a";
}

.flaticon-villa-2:before {
  content: "\f10b";
}

.flaticon-architect:before {
  content: "\f10c";
}

.flaticon-ruler:before {
  content: "\f10d";
}

.flaticon-construction:before {
  content: "\f10e";
}

.flaticon-hook:before {
  content: "\f10f";
}

.flaticon-engineer:before {
  content: "\f110";
}

.flaticon-architecture:before {
  content: "\f111";
}

.flaticon-customer-service:before {
  content: "\f112";
}

.flaticon-next:before {
  content: "\f113";
}

.flaticon-iphone:before {
  content: "\f114";
}

.flaticon-quotation-mark:before {
  content: "\f115";
}

.flaticon-clock:before {
  content: "\f116";
}

.flaticon-chat:before {
  content: "\f117";
}

.flaticon-paper-plane:before {
  content: "\f118";
}

.flaticon-map-location:before {
  content: "\f119";
}

.flaticon-construction-site:before {
  content: "\f11a";
}

.flaticon-engineer-1:before {
  content: "\f11b";
}

.flaticon-heart:before {
  content: "\f11c";
}

.flaticon-mail:before {
  content: "\f11d";
}

.flaticon-mail-inbox-app:before {
  content: "\f11e";
}

.flaticon-rating-stars:before {
  content: "\f11f";
}

.flaticon-lamp:before {
  content: "\f120";
}

.flaticon-staircase:before {
  content: "\f121";
}

.flaticon-house:before {
  content: "\f122";
}

.flaticon-plan:before {
  content: "\f123";
}

.flaticon-interior-design:before {
  content: "\f124";
}

.flaticon-stairs:before {
  content: "\f125";
}

.flaticon-house-design:before {
  content: "\f126";
}

.flaticon-design:before {
  content: "\f127";
}

.flaticon-design-1:before {
  content: "\f128";
}

.flaticon-blueprint:before {
  content: "\f129";
}

.flaticon-blueprint-1:before {
  content: "\f12a";
}

.flaticon-drawing-compass:before {
  content: "\f12b";
}

.flaticon-denver:before {
  content: "\f12c";
}

.flaticon-designing:before {
  content: "\f12d";
}

.flaticon-measure:before {
  content: "\f12e";
}

.flaticon-house-plan:before {
  content: "\f12f";
}

.flaticon-blueprint-2:before {
  content: "\f130";
}

.flaticon-planing:before {
  content: "\f131";
}

.flaticon-building:before {
  content: "\f132";
}

.flaticon-building-1:before {
  content: "\f133";
}

.flaticon-sketch:before {
  content: "\f134";
}

.flaticon-house-1:before {
  content: "\f135";
}

.flaticon-home:before {
  content: "\f136";
}

.flaticon-work-in-progress:before {
  content: "\f137";
}

.flaticon-crane:before {
  content: "\f138";
}

.flaticon-construction-1:before {
  content: "\f139";
}

.flaticon-document:before {
  content: "\f13a";
}

.flaticon-house-2:before {
  content: "\f13b";
}

.flaticon-construction-2:before {
  content: "\f13c";
}

.flaticon-paper:before {
  content: "\f13d";
}

.flaticon-people:before {
  content: "\f13e";
}

.flaticon-architec:before {
  content: "\f13f";
}

.flaticon-engineering:before {
  content: "\f140";
}

.flaticon-engineering-1:before {
  content: "\f141";
}

.flaticon-house-3:before {
  content: "\f142";
}

.flaticon-house-for-sale:before {
  content: "\f143";
}

.flaticon-real-estate:before {
  content: "\f144";
}

.flaticon-real-estate-1:before {
  content: "\f145";
}

.flaticon-skyline-1:before {
  content: "\f146";
}

.flaticon-find:before {
  content: "\f147";
}

.flaticon-real-estate-2:before {
  content: "\f148";
}

.flaticon-blueprint-3:before {
  content: "\f149";
}

.flaticon-location:before {
  content: "\f14a";
}

.flaticon-skyscrapper:before {
  content: "\f14b";
}

.flaticon-service:before {
  content: "\f14c";
}

.flaticon-cloud:before {
  content: "\f14d";
}/*# sourceMappingURL=flaticon_xyz.css.map */